<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<import resource="classpath:connection.xml" />
	
	<bean id="userDao" class="com.training.dao.impl.UserDaoImpl">
		<property name="commonDao" ref="commonDao"/>
	</bean>
	
	<bean id="validator" class="com.training.validator.UserValidator"/>
	
	<bean id="md5Encoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder"/>
	
	<bean id="userService" class="com.training.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"/>
		<property name="commonService" ref="commonService"/>
		<property name="md5Encoder" ref="md5Encoder"/>		
	</bean>
	
</beans>